<!DOCTYPE html>
<html>
  <head>
    <title>Lestestsurrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
  	<style type="text/css">
  		body{
  			background: url("wallpaper13.jpg");
  			background-size: cover;
  		}
  	</style>
      <%= yield %>
  </body>
</html>
